.titulo{
    text-align: center;
    font-size: 18px;
}
.subtitulo{
    font-size: 14px;
    padding: 0%;
}
.parrafo{
    margin: 0%;
}
.boton-aceptar{
    width: 100%!important;
    height: 55px!important;
    margin: 0px;
}