<app-header></app-header>

<ion-content>
  <ion-item  lines="none">
    <ion-label class="titulo" color="dark">Términos y Condiciones de Uso</ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-label class="subtitulo" color="dark">INFORMACIÓN RELEVANTE</ion-label>
  </ion-item>
  <ion-item class="parrafo" lines="none">
    <ion-text  color="medium">
        <p>Es requisito necesario para la adquisición 
          de los servicios que se ofrecen en este sitio, 
          que lea y acepte los siguientes Términos y 
          Condiciones que a continuación se redactan. 
          El uso de nuestros servicios implicará que 
          usted ha leído y aceptado los Términos y 
          Condiciones de Uso en el presente documento. 
          En nustroa aplicacion para adquirir nuestro servicio, 
          será necesario el registro por parte del usuario, con ingreso de 
          datos personales fidedignos y definición de una contraseña.
        </p>
        <p>
          El usuario puede elegir y cambiar la clave 
          para su acceso de administración de la cuenta 
          en cualquier momento, en caso de que se haya 
          registrado y que sea necesario para hacer uso
          de nustros servicios.TCUsco no asume la responsabilidad 
          en caso de que entregue dicha clave a terceros.
        </p>
      </ion-text>
  </ion-item>
  <ion-item lines="none">
    <ion-label class="subtitulo" color="dark">LICENCIA</ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-text color="medium">
      <p>
        TCUsco  a través de su aplicacion concede una licencia para que los 
        usuarios utilicen  los servicios que son ofrecidos en la aplicacion
        de acuerdo a los Términos y Condiciones que se describen en este documento
      </p>
    </ion-text>
  </ion-item>
  <ion-item lines="none">
      <ion-label class="subtitulo" color="dark">USO NO AUTORIZADO</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-text color="medium">
        <p>
          En caso de que aplique (para venta de software, templetes,
          u otro producto de diseño y programación) usted no puede 
          colocar uno de nuestros servicios, modificado o sin modificar, 
          en un CD, sitio web o ningún otro medio y ofrecerlos para 
          la redistribución o la reventa de ningún tipo.
        </p>
      </ion-text>
    </ion-item>
    <ion-item lines="none">
        <ion-label class="subtitulo" color="dark">PROPIEDAD</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-text color="medium">
          <p>
            Usted no puede declarar propiedad 
            intelectual o exclusiva a ninguno 
            de nuestros servicios, modificado o 
            sin modificar. Todos los servicios son 
            propiedad  de los proveedores del contenido.
            En caso de que no se especifique lo 
            contrario, nuestros productos se proporcionan  
            sin ningún tipo de garantía, expresa o implícita. 
            En ningún esta compañía será  responsables de
            ningún daño incluyendo, pero no limitado a, 
            daños directos, indirectos, especiales, 
            fortuitos o consecuentes u otras pérdidas 
            resultantes del uso o de la imposibilidad 
            de utilizar nuestros productos.
          </p>
        </ion-text>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="subtitulo" color="dark">PRIVACIDAD</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-text color="medium">
          <p>
            Este sitio web TCUsco garantiza que la información 
            personal que usted envía cuenta con la seguridad necesaria. 
            Los datos ingresados por usuario o en el caso de requerir 
            una validación de los servicios no serán entregados a terceros,
            salvo que deba ser revelada en cumplimiento a una orden 
            judicial o requerimientos legales.
              
            TCUsco reserva los derechos de cambiar o de modificar estos términos sin previo aviso.
          </p>
        </ion-text>
      </ion-item>
  <ion-item  lines="none">
    <ion-label class="titulo" color="dark">POLÍTICA DE PRIVACIDAD</ion-label>
  </ion-item>
  <ion-item lines="none">
      <ion-text color="medium">
        <p>
          El presente Política de Privacidad 
          establece los términos en que TCUsco usa 
          y protege la información que es proporcionada
          por sus usuarios al momento de utilizar a aplicacion.
          Esta compañía está comprometida con la seguridad 
          de los datos de sus usuarios. Cuando le pedimos 
          llenar los campos de información personal con la 
          cual usted pueda ser identificado, lo hacemos 
          asegurando que sólo se empleará de acuerdo con 
          los términos de este documento. Sin embargo
          esta Política de Privacidad puede cambiar con 
          el tiempo o ser actualizada por lo que le 
          recomendamos y enfatizamos revisar 
          continuamente esta página para 
          asegurarse que está de acuerdo 
          con dichos cambios.
        </p>
      </ion-text>
    </ion-item>
     <ion-item lines="none">
        <ion-label class="subtitulo" color="dark">Información que es recogida</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-text color="medium">
          <p>
            Nuestra aplicacion podrá recoger información personal 
            por ejemplo: Nombre,  información de contacto como  
            su dirección de correo electrónica e información 
            demográfica. Así mismo cuando sea necesario podrá
            ser requerida información específica para 
            procesar algún servicio.
        </ion-text>
      </ion-item>
       <ion-item lines="none">
        <ion-label class="subtitulo" color="dark">Uso de la información recogida</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-text color="medium">
          <p>
            Nuestra aplicacion emplea la información con el fin de
            proporcionar el mejor servicio posible, 
            particularmente para mantener un registro de usuarios,
            y mejorar nuestros servicios.
          </p>
          <p>
            TCUsco está altamente comprometido para cumplir 
            con el compromiso de mantener su información 
            segura. Usamos los sistemas más avanzados y 
            los actualizamos constantemente para asegurarnos 
            que no exista ningún acceso no autorizado.  
          </p>
        </ion-text>
      </ion-item>
      <ion-item lines="none">
          <ion-label class="subtitulo" color="dark">Control de su información personal</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-text color="medium">
            <p>
              Esta compañía no venderá, cederá ni distribuirá la información
              personal que es recopilada sin su consentimiento, salvo que 
              sea requerido por un juez con un orden judicial.
            </p>
            <p>
              TCUsco Se reserva el derecho de cambiar los 
              términos de la presente Política de Privacidad en cualquier momento. 
            </p>
          </ion-text>
        </ion-item>
</ion-content>
<ion-footer no-border>
  <ion-toolbar>
    <ion-button class="boton-aceptar" mode="ios" color="tertiary" expand="full" routerLink="/register">
      Aceptar terminos y condiciones
    </ion-button>
  </ion-toolbar>
</ion-footer>
