.big-usuarios {
    font-size: 30px; //Preferred size here
}
.big-perfil{
    width: 23%;
    height: 23%;
    border-radius: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.big-perfil-modal{
    width: 14%;
    height: 14%;
    border-radius: 50%; 
}
.big-more{
    font-size: 20px;
}
.more{
    font-size: 25px;
}
.space{
    font-size: 100%;
    margin-left: 20px;
}
.space-post{
    font-size: 90%;
    margin-left: 20px;
    white-space: pre-line!important;
}
.space-heart{
    margin-right: 2px;
}
.crear{
    background: rgb(234, 225, 251);
    padding: 2%;
}
.content-creacion{
    margin-top: 2%;
}
.letter{
    text-transform: none;
    margin-left: 10px;
}
