<ion-header>
  <ion-toolbar color="tertiary">
      <ion-buttons slot="start">
        <ion-menu-button menu="primerMenu"></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="end" routerLink="/usuarios">
        <ion-button>
          <ion-icon name="contacts" class="big-usuarios"></ion-icon>
        </ion-button>
      </ion-buttons>
    <ion-title>TCUsco</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card mode="ios" button>
    <ion-card-header class="crear"> 
      <ion-label color="dark">Crear Trayecto</ion-label>
    </ion-card-header>
    <ion-card-content class="content-creacion" (click)="modalCreate()">
      <ion-buttons slot="start">
          <img class="big-perfil-modal" [src]="post.photo_uri" />
        <ion-label class="space">Añade un nuevo proyecto</ion-label>
      </ion-buttons>
    </ion-card-content>
  </ion-card>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
  <ion-card mode="ios" *ngFor="let item of data">
     <ion-item>
       <ion-buttons>
          <img class="big-perfil" [src]="post.photo_uri" />
          <ion-label class="space-post" color="tertiary">{{post.nombre}}</ion-label>
       </ion-buttons>
       <ion-buttons slot="end"> 
          <ion-card-subtitle class="space-heart">{{post.like}}</ion-card-subtitle>
          <ion-icon name="heart"class="big-more" color="danger"></ion-icon>
          <ion-button (click)="mostrar($event)">
            <ion-icon name="more" class="more" color="tertiary"></ion-icon>
          </ion-button>
       </ion-buttons>  
     </ion-item>
      <ion-item>
        <ion-card-subtitle>{{post.descripcion}}</ion-card-subtitle>
      </ion-item>
      <ion-item>
        <ion-buttons>
          <ion-card-subtitle slot="start" color="tertiary">{{lugar}}</ion-card-subtitle>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-card-subtitle color="tertiary">{{post.fecha}}</ion-card-subtitle>
        </ion-buttons> 
      </ion-item>
      <ion-item>
        <ion-buttons> 
          <ion-button mode="ios" (click)="like( $event )">
            <ion-icon name="heart" class="big-more" [color]="colorHeart"></ion-icon>
            <ion-card-subtitle class="letter">Me gusta</ion-card-subtitle>
          </ion-button>
            
          </ion-buttons> 
        <ion-buttons slot="end" (click)="coment()">
            <ion-button mode="ios">
              <ion-icon name="chatbubbles" class="big-more" color="medium"></ion-icon>
              <ion-card-subtitle class="letter">Comentar</ion-card-subtitle>
            </ion-button> 
        </ion-buttons> 
      </ion-item>
      <ion-card-subtitle color="medium" class="coment">{{post.comentarios}} comentarios</ion-card-subtitle>
      <ion-item *ngIf="show" (click)="coment()">
          <img class="comment" [src]="post.photo_uri"/>
          <ion-item class="comment-modal" mode="ios" button>
            <ion-card-subtitle class="write-comment" color="">Comenta...</ion-card-subtitle>
          </ion-item>
      </ion-item>
    </ion-card>

    <ion-card *ngIf="show_texto">
      <ion-item>
       <ion-buttons>
          <ion-avatar class="big-perfil"  slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-avatar>
       </ion-buttons>
       <ion-skeleton-text class="space-post" animated style="width: 120px; height: 15px"></ion-skeleton-text>
       <ion-buttons slot="end">
          <ion-skeleton-text class="space-heart" animated style="width: 10px; height: 10px"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 10px; height: 10px"></ion-skeleton-text>
          <ion-button>
            <ion-skeleton-text animated style="width: 5px; height: 20px"></ion-skeleton-text>
          </ion-button>
       </ion-buttons>  
     </ion-item>
     <ion-item>
        <ion-skeleton-text animated style="width: 300px; height: 20px"></ion-skeleton-text>
     </ion-item>
      <ion-item>
          <ion-skeleton-text animated style="width: 50px; height: 15px"></ion-skeleton-text>
          <ion-skeleton-text slot="end" animated style="width: 50px; height: 15px"></ion-skeleton-text>
      </ion-item>
      <ion-item>
        <ion-skeleton-text slot="start" animated style="width: 80px; height: 20px"></ion-skeleton-text>
        <ion-skeleton-text slot="end" animated style="width: 80px; height: 20px"></ion-skeleton-text>
      </ion-item>
      <ion-item>
         <ion-avatar class="comment">
            <ion-skeleton-text animated></ion-skeleton-text>
         </ion-avatar>
          <ion-skeleton-text animated class="comment-modal" style="height: 30px"></ion-skeleton-text>
      </ion-item>
    </ion-card>
</ion-content>
