<ion-content class="content">

    <ion-item class="cerrar" (click)="close()">
      <ion-icon color="light" name="close"></ion-icon>  
    </ion-item>
  <!--Modal de denuncias-->
    <ion-card *ngIf="show_denuncias" color="light" mode="ios">
      <ion-card-header>
        <ion-card-title>{{pagina}}</ion-card-title>
        <ion-item color="light">
            <ion-buttons>
               <img class="big-perfil" [src]="photo" />
               <ion-label class="space-post" >{{persona}} {{apellido}}</ion-label>
            </ion-buttons>
        </ion-item>
      </ion-card-header>
      <ion-card-content>
      <form [formGroup]="crear_denuncia">
        <ion-item mode="ios" color="light" button (click)="select()">
          <ion-label>Motivo:</ion-label>
          <ion-buttons slot="end">
            {{option}} 
          </ion-buttons>
        </ion-item>
        <ion-item color="light" mode="ios">
          <ion-label position="stacked" class="descripcion">Descripcion</ion-label>
          <ion-textarea formControlName="descripcion" class="input-descripcion" rows="5" maxLength="500" placeholder="Describe lo que te paso aqui..." required></ion-textarea>
        </ion-item>
        <div class="error-message" *ngIf="crear_denuncia.get('descripcion').invalid && (crear_denuncia.get('descripcion').dirty || crear_denuncia.get('descripcion').touched)">
          <div *ngIf="crear_denuncia.get('descripcion').errors.required">
              <ion-icon name="information-circle-outline"></ion-icon>Campo descripcion es requerido
          </div>
        </div>
        <div *ngIf="show_option">
            <ion-icon name="information-circle-outline"></ion-icon>Campo Motivo es requerido
        </div>
        <ion-button (click)="save_denuncia()" color="primary" class="boton" mode="ios">
          Enviar
        </ion-button>
      </form>
      </ion-card-content>
    </ion-card>
    <!--Modal de comentarios-->
    <ion-refresher *ngIf="show_comment" slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-card *ngIf="show_comment" mode="ios" class="screen">
         <ion-toolbar>
            <ion-buttons slot="start">
                <ion-button (click)="close()">
                    <ion-icon color="dark" name="arrow-back"></ion-icon> 
                    <ion-card-title class="titulo">{{pagina}}s</ion-card-title>
                </ion-button>
            </ion-buttons>
         </ion-toolbar>
      
          <ion-list *ngIf="show_comment_texto" class="max" lines="none">  
              <ion-item *ngFor="let item of data">
                <img class="comment" [src]="comment.photo"/>
                <ion-item class="comment-modal" mode="ios">
                    <!---
                    <ion-text class="write-comment"color="tertiary">{{comment.persona}}</ion-text>
                    <ion-text class="second-write-comment" >{{comment.Comment}}</ion-text>--> 
                      <ion-row class="fila">
                        <ion-col size="12" class="ion-align-self-start">
                          <ion-label class="write-comment"color="tertiary">{{comment.persona}}</ion-label>
                          <ion-label class="second-write-comment" >{{comment.Comment}}</ion-label>
                        </ion-col>
                      </ion-row>
                </ion-item>
              </ion-item>
            </ion-list>
      <ion-list *ngIf="show_texto" class="max" lines="none">  
        <ion-item *ngFor="let item of data_texto">
          <ion-avatar class="comment">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-avatar>
        <ion-item class="comment-modal" mode="ios">
          <!---
                <ion-text class="write-comment"color="tertiary">{{comment.persona}}</ion-text>
                <ion-text class="second-write-comment" >{{comment.Comment}}</ion-text>--->
          <ion-row class="fila"> 
            <ion-col size="12" class="ion-align-self-start">
              <ion-skeleton-text animated style="width: 45px; height: 8px"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 200px; height: 8px"></ion-skeleton-text>
            </ion-col>
          </ion-row>
        </ion-item>
        </ion-item>
      </ion-list>
    </ion-card>

<!---Crear Trayecto-->
    <ion-card *ngIf="show_post" color="light" mode="ios">
    <form [formGroup]="crear_trayecto">
      <ion-card-header class="crear">
          <ion-card-title>Crear Trayecto</ion-card-title>
      </ion-card-header>
      <ion-card-content class="card-content-perfil">
        <ion-row>
            <ion-col size="2">
                <img class="perfil" [src]="photo_post"/>
            </ion-col>
            <ion-col class="col-textarea" size="10">
              <ion-label class="label-post">{{nombre_post}} {{apellido_post}}</ion-label>
              <ion-button class="boton-lugar" (click)="places()">
                <ion-icon slot="start" class="color-boton-icon" name="globe"></ion-icon>
                <ion-text class="color-boton">
                  {{lugar}}
                </ion-text>
                <ion-icon slot="end" class="color-boton-icon" name="arrow-dropdown"></ion-icon>
              </ion-button>
            </ion-col>
        </ion-row>
        <ion-textarea formControlName="descripcion" class="text-post" rows="5" maxLength="500" placeholder="Crea un Trayecto..." required></ion-textarea>
        <div class="error-message" *ngIf="crear_trayecto.get('descripcion').invalid && (crear_trayecto.get('descripcion').dirty || crear_trayecto.get('descripcion').touched)">
          <div *ngIf="crear_trayecto.get('descripcion').errors.required">
              <ion-icon name="information-circle-outline"></ion-icon>Campo descripcion requerido
          </div>
        </div>
        <div *ngIf="show_error">
            <ion-icon name="information-circle-outline"></ion-icon>Campo Lugares requerido
        </div>
      </ion-card-content>
      <ion-button (click)="crear_post()" color="primary" class="boton-post" mode="ios" expand="full">
        Enviar
      </ion-button>
    </form>
    </ion-card>
<!--Modal Lista de denuncias-->
<ion-refresher *ngIf="show_lista" slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
</ion-refresher>
<ion-card *ngIf="show_lista" mode="ios" class="screen">
     <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="close()">
                <ion-icon color="dark" name="arrow-back"></ion-icon> 
                <ion-card-title class="titulo">{{pagina}}</ion-card-title>
            </ion-button>
        </ion-buttons>
     </ion-toolbar>
  
      <ion-list class="max-denuncias" lines="none">  
          <ion-item *ngFor="let item of data">
            <ion-item class="comment-denuncia" mode="ios">
                <!---
                <ion-text class="write-comment"color="tertiary">{{comment.persona}}</ion-text>
                <ion-text class="second-write-comment" >{{comment.Comment}}</ion-text>--> 
                  <ion-row class="fila">
                    <ion-col size="12" class="ion-align-self-start">
                      <ion-label class="second-write-comment">Aqui van toda la descripcion de la denuncia</ion-label>
                    </ion-col>
                  </ion-row>
            </ion-item>
          </ion-item>
          <ion-item *ngFor="let item of data">
              <img class="comment" [src]="comment.photo"/>
              <ion-item class="comment-modal" mode="ios">
                  <!---
                  <ion-text class="write-comment"color="tertiary">{{comment.persona}}</ion-text>
                  <ion-text class="second-write-comment" >{{comment.Comment}}</ion-text>--> 
                    <ion-row class="fila">
                      <ion-col size="12" class="ion-align-self-start">
                        <ion-label class="write-comment"color="tertiary">Alfonso</ion-label>
                        <ion-label class="second-write-comment">Aqui van toda la descripcion de la denuncia</ion-label>
                      </ion-col>
                    </ion-row>
              </ion-item>
            </ion-item>
        </ion-list>
        <!--
  <ion-list *ngIf="show_texto" class="max" lines="none">  
    <ion-item *ngFor="let item of data_texto">
      <ion-avatar class="comment">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
    <ion-item class="comment-modal" mode="ios">
    
            <ion-text class="write-comment"color="tertiary">{{comment.persona}}</ion-text>
            <ion-text class="second-write-comment" >{{comment.Comment}}</ion-text>
      <ion-row class="fila"> 
        <ion-col size="12" class="ion-align-self-start">
          <ion-skeleton-text animated style="width: 45px; height: 8px"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 200px; height: 8px"></ion-skeleton-text>
        </ion-col>
      </ion-row>
    </ion-item>
    </ion-item>
  </ion-list>-->
</ion-card>
</ion-content>
<!--Modal de comentarios-->
<ion-footer *ngIf="show_comment">
  <form [formGroup]="crear_comentario">
      <ion-toolbar>
        <ion-item class="input-comment" mode="ios">
          <ion-textarea formControlName="descripcion" class="input" rows="1" placeholder="Comenta..." mode="ios" id="comment" #comment></ion-textarea>
          <ion-buttons slot="end">
            <ion-button (click)="save_comentarios()">
              <ion-icon class="size-icon" name="send" color="tertiary"></ion-icon>
            </ion-button>
          </ion-buttons>
      </ion-item>
      </ion-toolbar>
    </form>
</ion-footer>
<ion-footer *ngIf="show_lista" no-border>
      <ion-button class="boton-denuncias" expand="full" (click)="bloquear()" mode="ios">
        Bloquear
      </ion-button>
</ion-footer>

