/* Modal de denuncias*/
ion-content{
    --background: transparent !important;
}
.cerrar {
    --background: transparent!important;
    --border-color:transparent!important;
}
ion-icon{
    font-size: 30px;    
}
.total {
    margin: 0px auto;
    width: 100%;
    height: 50%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
}
.content {
    background: rgba(0, 0, 0, 0.85) !important;
}       
.space-post{
    font-size: 90%;
    margin-left: 20px;
    white-space: pre-line!important;
}
.big-perfil{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.boton{
    text-transform: none;
}
.descripcion{
    font-size: 25px;
}
.input-descripcion{
    font-size: 12pt;
}
/* Modal de comentarios*/

.screen{
    margin: 0px auto;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    background: white;
}
.titulo{
    margin-left: 20px;
    text-transform: none;
}
.max{
    max-height: 510px;
    overflow-y: scroll;
}
.input-comment{
    width: 95%;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    --background: #EAE1FB;
    --border-color: #EAE1FB;
    --border-style: solid;
    --border-radius: 50px;
    height: 50px;
}
.size-text{
    height: 30px;
}
.size-icon{
    font-size: 25px; 
}
.comment-modal{
    width: 85%;
    text-transform: none;
    margin-left: 10px;
    margin-bottom: 10px;
    --background: #EAE1FB;
    --border-color: #EAE1FB;
    --border-style: solid;
    --border-radius: 50px;
}
.write-comment{
    font-size: 12px;
    margin-left: 2px;
    white-space: pre-line!important;
}
.comment{   
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.fila{
    padding: 5px;
}
.input{
    font-size: 15px;
}
.second-write-comment{
    font-size: 12px;
    margin-top: 0px;
    white-space: pre-line!important;
}

/* Modal post*/
.crear{
    background: rgb(234, 225, 251);
    padding: 3%;
}
.label-post{
    margin-right: 50px; 
    margin-top: 30px; 
    margin-bottom: 0px;
    font-size: 15px;
}
.boton-lugar{
    width: 105%;
    height: 25px;
    text-transform: none;
    --background: #f4f5f8 !important;;
    --box-shadow: none;
    --border-style: solid;
    --border-color: #989aa2;
    --border-width: 1px;
    --border-radius: 8.5px;
    margin: 0px;
    --padding-end: 0px;
    --padding-start: 0px;
}
.color-boton{
    color:  grey;
    padding: 0px;
    margin-left: 5px;
    margin-right: 5px;
    white-space: pre-line!important;
}
.color-boton-icon{
    color:  grey;
    width: 18px;
    height: 18px;
    padding: 0px;
    margin: 0px;
}
.perfil{
    width: 95%;
    height: 95%;
    border-radius: 50%;
    margin-top: 5%;
}
.card-content-perfil{
    padding-bottom: 0px;
    padding-top: 5px;
    padding-left: 5px;
}
.text-post{
    font-size: 15pt;
    padding-top: 0px;
    margin-top: 0px;
}
.col-textarea{
    padding-bottom: 0px;
}
.boton-post{
    text-transform: none;
    margin: 0px;
}
.comment-denuncia{
    width: 95%;
    text-transform: none;
    margin-bottom: 10px;
    --background: #EAE1FB;
    --border-color: #EAE1FB;
    --border-style: solid;
    --border-radius: 50px;
}
.boton-denuncias{
    margin: 0px;
    width: 100%!important;
    height: 50px!important;
}
.max-denuncias{
    max-height: 540px;
    overflow-y: scroll;
}